<!doctype html>
<html>
    <header></header>
    <title>PCDVD User Post by Thread</title>
<body>
<h1>PCDVD User Post by Thread</h1>
<form action={{ url_for('getUserPost') }} method='post' target="_blank">
    <label for="username">Username</label> 
    <input type="text" id="username" name="username"><br/>
    URL: https://www.pcdvd.com.tw/showthread.php?t=<input type="tex" id='thread' name='thread'><br/>
    <input type="submit" value="submit"></input>

</form>
<hr class="solid">
<footer>
  <p>Project source, issue report, comments please go to <a href="https://github.com/doublechiang/pcdvd_getuserpost.git">https://github.com/doublechiang/pcdvd_getuserpost.git</a></p></p>
</footer>
    
</body>
</html>