<!doctype html>
<html>
    <header></header>
    <title>PCDVD User Post by Thread</title>
<body>
<h1>PCDVD 作者爬文機</h1>
<form action={{ url_for('getAuthorPost') }} method='post'>
  PCDVD網址列的字串Copy後貼到這裏<input type="text" id='url' name='url'>
  <input type="submit" value="submit"></input>
</form>

{% if error %}
<p> {{error}} </p>
{% endif %}

{% if author is not none %}
<form action={{ url_for('getUserPost') }} method='post' target="_blank">
  <p>按下按鈕后開始在討論串 <input type='text' name='thread' value="{{thread}}"> 抓取作者<input type='text' name='username' value="{{author}}">的文章</p>
  <input type="submit" value="開始"></input>
</form>
{% endif %}


<hr class="solid">
<footer>
  <p>Project source, issue report, comments please go to <a href="https://github.com/doublechiang/pcdvd_getuserpost.git">https://github.com/doublechiang/pcdvd_getuserpost.git</a></p></p>
</footer>
    
</body>
</html>